/*import the fonts before you add their selectors*/
@import url('https://fonts.googleapis.com/css?family=Almendra|Cinzel|Cormorant+Garamond|IM+Fell+DW+Pica+SC|IM+Fell+Great+Primer+SC|Open+Sans+Condensed:300|Oswald');

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	text-align: center;
}

.jumbotron h1 {
	font-family: 'Cormorant Garamond', serif;
}

h2 {
	font-family: 'IM Fell DW Pica SC', serif;
	text-shadow: 4px 4px 4px #aaa;
}

nav {
	font-family: 'Cinzel', serif;
}

p{
	font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron p {
	padding-left: 5px;
	padding-right: 5px;
}

.btn-lg {
	font-size: 36px;
}

.bimg {
	background-image: url(7e631f3675f13766a0b956e7e2628719.jpg);
}

.borderimg {
	background-color: salmon;
	color: white;
    text-shadow: 1px 1px 0px black;
}

#borderimg1 { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
    border-image: url(images/red-bevel-81.png) 30 stretch;
}